#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  max-width: 300px;
}

.div-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;
}

.div-card {
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.sold{
  background-color:  lightblue;
  background-blend-mode: normal;
}

.unsold{
  background-color: lightgray;
  background-blend-mode: normal;
}